<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joker&Smoker</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Bitcount+Grid+Single:wght@100..900&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/sv443-joke-api@0.0.8/web/index.js"></script>
</head>
<body>
    <h1>🎭 Joker & Smoker</h1>
 <form action="/get-joke" method="post" class="main">
 <data>
   <select name="category" >
    <option value="Programming"<%=selected.category ==="Programming"?"selected" :""%>>Programming</option> 
    <option value="Misc"<%=selected.category ==="Misc"?"selected":""%>>Misc</option> 
    <option value="Pun"<%=selected.category ==="Pun"?"selected":""%>>Pun</option> 
    <option value="Spooky"<%=selected.category ==="Spooky"?"selected":""%>>Spooky</option> 
    <option value="Christmas"<%=selected.category ==="Christmas"?"selected":""%>>Christmas</option> 
   </select>

	<select name="?type" >
        <option value="single"<%=selected.type ==="single"?"selected":""%>>single</option>
         <option value="twotype"<%=selected.type ==="twotype"?"selected":""%>>twotype</option>
    </select>
        
	<select name="flags"  >
		<option value="political"<%=selected.flags ==="political"?"selected":""%>>political</option>
        <option value="racist"<%=selected.flags ==="racist"?"selected":""%>>racist</option>
        <option value="nsfw"<%=selected.flags ==="nsfw"?"selected":""%>>nsfw</option>
    </select>

<label for="language" >choose language</label>
<select name="language">
    <option value="en"<%=selected.language  ==="English"?"selected":""%>>English</option>
     <option value="de"<%=selected.language  ==="German"?"selected":""%>>German</option>
      <option value="cs"<%=selected.language  ==="Czech"?"selected":""%>>Czech</option>
       <option value="it"<%=selected.language  ==="Italian"?"selected":""%>>Italian</option>
       <option value="ru"<%=selected.language  ==="Russian"?"selected":""%>>Russian</option>
</select>

<button type="submit">Get Joke</button>
<div class="response-area">
    <P><%=content %></P>
</div>

</data>
</form>
    
</body>
</html>